<div id="purchase-modal">
  <div class="purchase-modal__body">
    <h1>Are you sure you want to buy this ?</h1>
    <div class="options">
      <form method="POST">
        <button><i class="fas fa-check"></i> Yes</button>
      </form>
      <button id="close-purchase__modal">
        <i class="fas fa-times"></i> No
      </button>
    </div>
  </div>
</div>
