<aside id="dashboard-sidebar">
  <nav>
    <a href="{{ path('home') }}" class="navbar__link">
      <i class="fas fa-home"></i> <span>Home</span>
    </a>
    <a href="{{ path('admin_dashboard') }}" class="navbar__link"
      ><i class="far fa-chart-bar"></i> <span>Dashboard</span>
    </a>
    <a href="{{ path('admin_dashboard_products') }}" class="navbar__link"
      ><i class="fas fa-list"></i> <span>Products</span>
    </a>
  </nav>
</aside>
