@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "../config/variables.scss";
@import "../config/animations.scss";
@import "./includes/sidebar.scss";
@import "./includes/dashboard.scss";
@import "./includes/products.scss";
@import "./includes/productAdd.scss";

:root {
  font-family: "Lato", sans-serif;
  background-color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}

a {
  text-decoration: none;
  color: $buttonBackground;
}
