$primaryTextColor: rgb(50, 50, 50);
$primaryTextColorHover: rgb(31, 31, 31);

$lightTextColor: rgb(80, 80, 80);
$lightTextColorHover: rgb(50, 50, 50);

$veryLightTextColor: rgb(120, 120, 120);
$veryLightTextColorHover: rgb(80, 80, 80);

$buttonBorder: rgb(50, 57, 121);
$buttonBackground: rgb(60, 67, 131);

$itemPriceColor: rgb(59, 66, 128);
