@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "./includes/header.scss";
@import "./includes/trending.scss";
@import "./includes/benefits.scss";
@import "./includes/products.scss";
@import "./includes/single.scss";
@import "./includes/cart.scss";
@import "./includes/purchase.scss";
@import "./includes/auth.scss";

:root {
  font-family: "Lato", sans-serif;
  background-color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.2s;
}

a {
  text-decoration: none;
}
